.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(29, 26, 26);
    overflow: hidden;
    animation: disapear 1s ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
    }
}
  
  
  .loader {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .board {
    height:150px;
    width:250px;
    position:relative;
    overflow:hidden;
    animation: rotation-cycles 2.5s ease infinite;
  }
  
  .outer-circle {
    position:absolute;
    height:130px;
    width:235px;
    border-radius:50%;
    border:6px solid lightblue;
    background: rgb(29, 26, 26);
    top:0px;
    left:4px;
    overflow:hidden;
  }
  
  .bat {
    background:lightblue;
    position:absolute;
    height:112px;
    width:216px;
    border-radius:50%;
    top:3px;
    left:3px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem blue,
              0 0 0.8rem blue,
              0 0 2.8rem blue,
              inset 0 0 1.3rem blue;
  }
  
  .sphere-1 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:70px;
    width:33px;
    border-radius:50%;
    top:67px;
    left:44px;
    transform: rotate(-41deg);
    border: 4px solid lightblue;
  }
  
  .sphere-2 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:70px;
    width:38px;
    border-radius:50%;
    top:73px;
    left:68px;
    transform: rotate(-15deg);
    border-top: 4px solid lightblue;
    border-right: 4px solid lightblue;
  }
  
  .sphere-3 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:70px;
    width:33px;
    border-radius:50%;
    top:67px;
    right:44px;
    transform: rotate(41deg);
    border: solid 4px lightblue;
  }
  
  .sphere-4 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:70px;
    width:38px;
    border-radius:50%;
    top:73px;
    right:68px;
    transform: rotate(15deg);
    border-top: 4px solid lightblue;
    border-left: 4px solid lightblue
  }
  
  .sphere-5 {
    background: rgb(29, 26, 26);
    position:absolute;
    height:40px;
    width:37px;
    border-radius:50%;
    top:0px;
    left:57px;
    transform: rotate(15deg);
    border: 4px solid lightblue;
  }
  
  .sphere-6 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:40px;
    width:37px;
    border-radius:50%;
    top:0px;
    right:57px;
    transform: rotate(15deg);
    border: 4px solid lightblue;
  }
  
  .square-1 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:20px;
    width:20px;
    top:0px;
    left:74px;
    border-right: 4px solid lightblue;
  }
  
  .square-2 {
    background:rgb(29, 26, 26);
    position:absolute;
    height:20px;
    width:20px;
    top:0px;
    right:74px;
    border-left: 4px solid lightblue;
  }
  
  .trapezoid {
    top: 0px;
    left:97px;
    position:absolute;
      border-bottom: 12px solid rgb(29, 26, 26);
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      height: 0;
      width: 20px;
    transform: rotate(180deg);
  }

  @keyframes disapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotation-cycles {
  0% {
    transform: rotate(0deg);
  }

  45%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(360deg);
  }
}