/* general styling */
:root {
    --smaller: .75;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background-color: rgb(29, 26, 26);
    display: flex;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
  }
  
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
    animation: pulsate-1 1.5s infinite alternate;
    box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #bc13fe,
                    0 0 0.8rem #bc13fe,
                    0 0 2.8rem #bc13fe,
                    inset 0 0 1.3rem #bc13fe;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color:#fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 22px #fff,
        0 0 32px #fff,
        0 0 42px #fff,
        0 0 52px #fff,
        0 0 52px #fff;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  .headline {
    text-transform: none;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  @keyframes pulsate-1 {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
  }
}

#batgirl {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px rgb(255, 205, 0),
  0 0 22px rgb(255, 205, 0),
  0 0 32px rgb(255, 205, 0),
  0 0 42px rgb(255, 205, 0),
  0 0 52px rgb(255, 205, 0),
  0 0 52px rgb(255, 205, 0);
}

#hood {
  text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px red,
        0 0 22px red,
        0 0 32px red,
        0 0 42px red,
        0 0 52px red,
        0 0 52px red;
}

#nightwing {
  text-shadow:
                  0 0 7px #fff,
                  0 0 10px #fff,
                  0 0 21px rgb(6, 201, 245),
                  0 0 22px rgb(6, 201, 245),
                  0 0 32px rgb(6, 201, 245),
                  0 0 42px rgb(6, 201, 245),
                  0 0 52px rgb(6, 201, 245),
                  0 0 52px rgb(6, 201, 245);
}

#robin {
  text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px rgb(28, 228, 107),
        0 0 22px rgb(28, 228, 107),
        0 0 32px rgb(28, 228, 107),
        0 0 42px rgb(28, 228, 107),
        0 0 52px rgb(28, 228, 107),
        0 0 52px rgb(28, 228, 107);
}