@import "loader";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(29, 26, 26);
  }

h1{
  margin-bottom: 70px;
  #homepage {
    text-decoration: none;
    font-family: 'Yellowtail', serif;
    color: rgb(255, 255, 255);
    font-size: 42px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #bc13fe,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  }
}
  .container {
    border: solid 3px white;
    width: 800px;
    max-width: 80%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #bc13fe,
                    0 0 0.8rem #bc13fe,
                    0 0 2.8rem #bc13fe,
                    inset 0 0 1.3rem #bc13fe;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 20px 0;
    padding: 20px;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: rgb(29, 26, 26);
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    outline: none;
    font-size: 18px;
  }
  
  #question {
      color: white;
      text-align: center;
      font-size: 24px;
  }

  .btn:hover {
    border-color: rgb;
    cursor: pointer;
  }
  
  .batgirl {
    border: solid 2px rgb(255, 205, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(rgba(29,26,26,1), rgba(255,255,255,0));
    box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgb(255, 205, 0),
                    0 0 0.8rem rgb(255, 205, 0),
                    0 0 1.8rem rgb(255, 205, 0),
                    inset 0 0 0.3rem rgb(255, 205, 0);

                    &:hover{
                      background-color: rgb(255, 205, 0);
                    }
}

.hood {
    border: solid 2px rgb(248, 16, 29);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(rgba(29,26,26,1), rgba(255,255,255,0));
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 1rem rgb(248, 16, 29),
                0 0 0.8rem rgb(248, 16, 29),
                0 0 1.8rem rgb(248, 16, 29),
                inset 0 0 0.3rem rgb(248, 16, 29);

                &:hover{
                  background-color: rgb(248, 16, 29);
                }
}

.nightwing {
    border: solid 2px rgb(6, 201, 245);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(rgba(29,26,26,1), rgba(255,255,255,0));
    box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgb(6, 201, 245),
                    0 0 0.8rem rgb(6, 201, 245),
                    0 0 1.8rem rgb(6, 201, 245),
                    inset 0 0 0.3rem rgb(6, 201, 245);

                    &:hover{
                      background-color: rgb(6, 201, 245);
                    }
}

.robin {
    border: solid 2px rgb(28, 228, 107);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(rgba(29,26,26,1), rgba(255,255,255,0));
    box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgb(28, 228, 107),
                    0 0 0.8rem rgb(28, 228, 107),
                    0 0 1.8rem rgb(28, 228, 107),
                    inset 0 0 0.3rem rgb(28, 228, 107);
                    
                    &:hover{
                      background-color: rgb(28, 228, 107);
                    }
}

.owl {
  border: solid 2px white;
  border-radius: 15px;
  background-color: rgb(29, 26, 26);
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: 1s all ease-in-out;
  background-image: linear-gradient(rgba(29,26,26,1), rgba(255,255,255,0));
  box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 1rem white,
                  0 0 0.8rem white,
                  0 0 1.8rem white,
                  inset 0 0 0.3rem white;

                  &:hover{
                    background-color: white;
                  }
}

  .btn.correct {
    color: white;
  }
  
  .btn.wrong {
    transition: all 1s ease-in-out;
    color: white;
    border: white;
    box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 1rem white,
                  0 0 0.8rem white,
                  0 0 1.8rem white,
                  inset 0 0 0.3rem white;
    background-color: white;
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
