.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #1d1a1a;
  overflow: hidden;
  -webkit-animation: disapear 1s ease;
          animation: disapear 1s ease;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board {
  height: 150px;
  width: 250px;
  position: relative;
  overflow: hidden;
}

.outer-circle {
  position: absolute;
  height: 130px;
  width: 230px;
  border-radius: 50%;
  border: 6px solid #000;
  background: #fffb3b;
  top: 3px;
  left: 4px;
  overflow: hidden;
}

.bat {
  background: #000;
  position: absolute;
  height: 112px;
  width: 213px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

.sphere-1 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  left: 44px;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.sphere-2 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  left: 68px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.sphere-3 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  right: 44px;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
}

.sphere-4 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  right: 68px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.sphere-5 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  left: 57px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.sphere-6 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  right: 57px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.square-1 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 74px;
}

.square-2 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 74px;
}

.trapezoid {
  top: 0px;
  left: 97px;
  position: absolute;
  border-bottom: 12px solid #fffb3b;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1a1a;
}

.container {
  border: solid 3px white;
  width: 800px;
  max-width: 80%;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.btn-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: #1d1a1a;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 18px;
}

#question {
  color: white;
  text-align: center;
  font-size: 24px;
}

.btn:hover {
  border-color: rgb;
  cursor: pointer;
}

.btn.correct {
  color: white;
}

.btn.wrong {
  color: white;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}

#batgirl {
  border: solid 2px #ffcd00;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #ffcd00, 0 0 0.8rem #ffcd00, 0 0 1.8rem #ffcd00, inset 0 0 0.3rem #ffcd00;
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #ffcd00, 0 0 0.8rem #ffcd00, 0 0 1.8rem #ffcd00, inset 0 0 0.3rem #ffcd00;
}

#hood {
  border: solid 2px #f8101d;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #f8101d, 0 0 0.8rem #f8101d, 0 0 1.8rem #f8101d, inset 0 0 0.3rem #f8101d;
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #f8101d, 0 0 0.8rem #f8101d, 0 0 1.8rem #f8101d, inset 0 0 0.3rem #f8101d;
}

#nightwing {
  border: solid 2px #06c9f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #06c9f5, 0 0 0.8rem #06c9f5, 0 0 1.8rem #06c9f5, inset 0 0 0.3rem #06c9f5;
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #06c9f5, 0 0 0.8rem #06c9f5, 0 0 1.8rem #06c9f5, inset 0 0 0.3rem #06c9f5;
}

#robin {
  border: solid 2px #1ce46b;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
  -webkit-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #1ce46b, 0 0 0.8rem #1ce46b, 0 0 1.8rem #1ce46b, inset 0 0 0.3rem #1ce46b;
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #1ce46b, 0 0 0.8rem #1ce46b, 0 0 1.8rem #1ce46b, inset 0 0 0.3rem #1ce46b;
}
/*# sourceMappingURL=game.css.map */