@import "loader";

body {
    color: #fff;
}

.row {
    clear: both;  
    .column {
        width: 400px;
        height: 100px;
        display: inline-block;
        font-size: 32px;
        margin-top: 20px;
        margin-left: 20px;
        &:hover{
            cursor: pointer;
        }
    }
}

#batgirl {
    border: solid 5px rgb(255, 205, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 1s;
    &:hover{
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem rgb(255, 205, 0),
                    0 0 0.8rem rgb(255, 205, 0),
                    0 0 2.8rem rgb(255, 205, 0),
                    inset 0 0 1.3rem rgb(255, 205, 0);
        animation: pulsate-batgirl 1.5s infinite alternate;
    }
}

#red-hood {
    border: solid 5px rgb(248, 16, 29);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 1s;
    &:hover{
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem rgb(248, 16, 29),
                    0 0 0.8rem rgb(248, 16, 29),
                    0 0 2.8rem rgb(248, 16, 29),
                    inset 0 0 1.3rem rgb(248, 16, 29);
        animation: pulsate-red-hood 1.5s infinite alternate;
    }
}

#nightwing {
    border: solid 5px rgb(6, 201, 245);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 1s;
    &:hover{
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem rgb(6, 201, 245),
                    0 0 0.8rem rgb(6, 201, 245),
                    0 0 2.8rem rgb(6, 201, 245),
                    inset 0 0 1.3rem rgb(6, 201, 245);
        animation: pulsate-nightwing 1.5s infinite alternate;
    }
}

#robin {
    border: solid 5px rgb(28, 228, 107);
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 1s;
    &:hover{
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem rgb(28, 228, 107),
                    0 0 0.8rem rgb(28, 228, 107),
                    0 0 2.8rem rgb(28, 228, 107),
                    inset 0 0 1.3rem rgb(28, 228, 107);
        animation: pulsate-robin 1.5s infinite alternate;
    }
}

@keyframes pulsate-robin {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(28, 228, 107),
        0 0 80px rgb(28, 228, 107),
        0 0 90px rgb(28, 228, 107),
        0 0 100px rgb(28, 228, 107),
        0 0 150px rgb(28, 228, 107);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(28, 228, 107),
      0 0 45px rgb(28, 228, 107),
      0 0 55px rgb(28, 228, 107),
      0 0 70px rgb(28, 228, 107),
      0 0 80px rgb(28, 228, 107);
  
  }
}

@keyframes pulsate-nightwing {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(6, 201, 245),
        0 0 80px rgb(6, 201, 245),
        0 0 90px rgb(6, 201, 245),
        0 0 100px rgb(6, 201, 245),
        0 0 150px rgb(6, 201, 245);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(6, 201, 245),
      0 0 45px rgb(6, 201, 245),
      0 0 55px rgb(6, 201, 245),
      0 0 70px rgb(6, 201, 245),
      0 0 80px rgb(6, 201, 245);
  
  }
}

@keyframes pulsate-red-hood {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(248, 16, 29),
        0 0 80px rgb(248, 16, 29),
        0 0 90px rgb(248, 16, 29),
        0 0 100px rgb(248, 16, 29),
        0 0 150px rgb(248, 16, 29);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(248, 16, 29),
      0 0 45px rgb(248, 16, 29),
      0 0 55px rgb(248, 16, 29),
      0 0 70px rgb(248, 16, 29),
      0 0 80px rgb(248, 16, 29);
  
  }
}

@keyframes pulsate-batgirl {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 205, 0),
        0 0 80px rgb(255, 205, 0),
        0 0 90px rgb(255, 205, 0),
        0 0 100px rgb(255, 205, 0),
        0 0 150px rgb(255, 205, 0);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(255, 205, 0),
      0 0 45px rgb(255, 205, 0),
      0 0 55px rgb(255, 205, 0),
      0 0 70px rgb(255, 205, 0),
      0 0 80px rgb(255, 205, 0);
  
  }
}