.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #1d1a1a;
  overflow: hidden;
  -webkit-animation: disapear 1s ease;
          animation: disapear 1s ease;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board {
  height: 150px;
  width: 250px;
  position: relative;
  overflow: hidden;
}

.outer-circle {
  position: absolute;
  height: 130px;
  width: 230px;
  border-radius: 50%;
  border: 6px solid #000;
  background: #fffb3b;
  top: 3px;
  left: 4px;
  overflow: hidden;
}

.bat {
  background: #000;
  position: absolute;
  height: 112px;
  width: 213px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

.sphere-1 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  left: 44px;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.sphere-2 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  left: 68px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.sphere-3 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  right: 44px;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
}

.sphere-4 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  right: 68px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.sphere-5 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  left: 57px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.sphere-6 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  right: 57px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.square-1 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 74px;
}

.square-2 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 74px;
}

.trapezoid {
  top: 0px;
  left: 97px;
  position: absolute;
  border-bottom: 12px solid #fffb3b;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

* {
  font-family: 'Merriweather', serif;
}

body {
  color: #fff;
}

.row {
  clear: both;
}

.row .column {
  width: 600px;
  height: 100px;
  display: inline-block;
  font-size: 32px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #1d1a1a;
}

.row .column:hover {
  cursor: pointer;
}

#batgirl {
  border: solid 5px #ffcd00;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
}

#red-hood {
  border: solid 5px #f8101d;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
}

#nightwing {
  border: solid 5px #06c9f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
}

#robin {
  border: solid 5px #1ce46b;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#1d1a1a, rgba(255, 255, 255, 0));
}

.correct {
  background-color: #bc13fe;
}

.incorrect {
  background-color: #925933;
}

/* HUD */
#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid white;
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #d1c750, 0 0 0.8rem #d1c750, 0 0 2.8rem #d1c750, inset 0 0 1.3rem #d1c750;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #d1c750, 0 0 0.8rem #d1c750, 0 0 2.8rem #d1c750, inset 0 0 1.3rem #d1c750;
}

#progressBarFull {
  height: 100%;
  background: #d1c750;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
/*# sourceMappingURL=game.css.map */